language: bash

services:
    - docker

install:
    - docker-compose up -d

before_script:
    - curl -L "https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/shunit2/shunit2-2.1.6.tgz" | tar zx

script:
    - docker ps | grep -q projecttemplatestatic_nginx_1 
    - sh tests/functional/docker.sh
